<div class="orbit-container">
<h2 class="index-heading"> Who's your next shot? </h2>
  <div class="outer-circle">
    <div class="lg-avatar pos-four avatar-img" style="background-image: url('<%= image_path "boy4"%>')"></div>
    <div class="lg-avatar pos-five avatar-img" style="background-image: url('<%= image_path "boy5"%>')"></div>
    <div class="lg-avatar pos-six avatar-img" style="background-image: url('<%= image_path "boy6"%>')"></div>
  </div>

  <div class="middle-circle">
    <div class="md-avatar pos-two avatar-img" style="background-image: url('<%= image_path "boy2"%>')"></div>
    <div class="md-avatar pos-three avatar-img" style="background-image: url('<%= image_path "boy3"%>')"></div>
  </div>

  <div class="inner-circle">
    <div class="sm-avatar pos-one avatar-img" style="background-image: url('<%= image_path "boy1"%>')"></div>
  </div>

</div>
