<div class="screen">
  <div class="orbit-container">
  <h2 class="index-heading"> Who's your next shot? </h2>
    <div class="outer-circle">
      <%= link_to user_path(User.first) do %>
        <div class="lg-avatar pos-four avatar-img" style="background-image: url('<%= image_path "boy4"%>')"></div>
      <% end %>
      <%= link_to user_path(User.second) do %>
        <div class="lg-avatar pos-five avatar-img" style="background-image: url('<%= image_path "boy5"%>')"></div>
      <% end %>
      <%= link_to user_path(User.third) do %>
        <div class="lg-avatar pos-six avatar-img" style="background-image: url('<%= image_path "boy6"%>')"></div>
      <% end %>
    </div>

    <div class="middle-circle">
      <%= link_to user_path(User.fourth) do %>
        <div class="md-avatar pos-two avatar-img" style="background-image: url('<%= image_path "boy2"%>')"></div>
      <% end %>
      <%= link_to user_path(User.fifth) do %>
        <div class="md-avatar pos-three avatar-img" style="background-image: url('<%= image_path "boy3"%>')"></div>
      <% end %>
    </div>

    <div class="inner-circle">
      <%= link_to user_path(User.second) do %>
        <div class="sm-avatar pos-one avatar-img" style="background-image: url('<%= image_path "boy1"%>')"></div>
      <% end %>
    </div>

  </div>
</div>
