<div class="page-content profile">
  <div class="profile-photo" style="background-image: url('<%= cl_image_path @user.photo %>');">
    <div class="profile-photo-gradient">
    </div>
    <div class="profile-details">
      <h1 class="profile-name">
        <%= @user.first_name %>
        <%= link_to edit_user_registration_path, class: "profile-edit" do %>
          <i class="fas fa-user-edit"></i>
        <% end %>
      </h1>
      <div class="actions">
        <% unless @user == current_user %>
          <%= link_to "POKE", new_user_poke_path(@user), class: "btn btn-primary" %>
        <% end %>
      </div>

      <!-- <h3 class="profile-tagline">come poke me</h3> -->
    </div>
  </div>
  <div class="profile-qs">
    <% if @user == current_user %>

      <% @user.profile_answers.each do |profile_answer| %>
        <% unless profile_answer.answer == "" %>
          <div class="profile-q">
            <h5 class="question"><%= profile_answer.question.content %></h5>
            <h6 class="answer"><%= profile_answer.answer %></h6>
            <div class="q-edit">
              <%= render "profile_answers/edit", profile_answer: profile_answer %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="pq-btn">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logout" %>
        <%= link_to "Edit Profile Questions", profile_answers_path, class: "btn btn-primary" %>
      </div>

    <% else %>

      <% @user.profile_answers.each do |profile_answer| %>
        <% unless profile_answer.answer == "" %>
          <div class="profile-q">
            <h5 class="question"><%= profile_answer.question.content %></h5>
            <h6 class="answer"><%= profile_answer.answer %></h6>
          </div>
        <% end %>
      <% end %>

    <% end %>






  </div>
</div>
