<%= link_to poke_path(poke) do %>
  <div class="poke-container">
    <%= cl_image_tag user.photo, class: "lg-avatar" %>
    <div class="poke-content">
      <h3 class="poke-name">
        <%= user.first_name %>
        <small>
          <%#= poke.new_messages_for(current_user) %>
        </small>
      </h3>
      <p class="poke-body"><strong> Poked
        <%= poke.created_time %>
        <%#= current_user.last_sign_in %>
      </strong></p>
    </div>
    <div class="poke-status">
      <% if poke.status == "accepted" %>
        <i class="fas fa-check accepted"></i>
      <% elsif poke.status == "rejected" %>
        <i class="fas fa-times rejected"></i>
      <% else %>
        <h3 class="poke-time-left"><%= poke.time_left %></h3>
      <% end %>
    </div>
  </div>
<% end %>
