<div class="pokes-index gradient-background">
    <div class="pokes-tabs">
      <div class="received">
        <%= link_to "Recieved (#{current_user.new_pokes_count})", "#", class: "tab active", data: { target: "received" } %>
        <div class="received-notification">
          <%#= current_user.new_pokes_count%>
        </div>
      </div>

      <div class="sent">
        <%= link_to "Sent", "#", class: "tab", data: { target: "sent" } %>
      </div>
      <div class="messages">
        <%= link_to "Connections", "#", class: "tab", data: { target: "connections" } %>
        <div class="message-notification">
          <%#= current_user.new_messages_count%>
        </div>
      </div>

    </div>
    <div class="pokes-container">
      <div class="received-pokes active" data-anchor="received">

        <% @received_pokes.each do |poke|%>
          <%= render "poke", poke: poke, user: poke.sender %>
        <% end %>
      </div>
      <div class="sent-pokes" data-anchor="sent">
        <% @sent_pokes.each do |poke|%>
          <%= render "poke", poke: poke, user: poke.receiver %>
        <% end %>
      </div>
      <div class="connections-pokes" data-anchor="connections">
        <% @connections.each do |poke|%>
          <%= render "poke", poke: poke, user: poke.sender == current_user ? poke.receiver : poke.sender %>
        <% end %>
      </div>
    </div>
</div>

