<div class="pokes-index">
  <div class="gradient-background-reverse">
    <div class="pokes-tabs">
      <%= link_to "Poked", "#", class: "tab" %>
      <%= link_to "Pokes", "#", class: "tab" %>
    </div>
    <div class="pokes-container">
      <% @sent_pokes.each do |poke|%>
        <%= link_to poke_path(poke) do %>
          <div class="poke-container">
            <%= cl_image_tag poke.receiver.photo, class: "lg-avatar" %>
            <div class="poke-content">
              <h3 class="poke-name"><%= poke.receiver.first_name %></h3>
              <p class="poke-body"><strong> Poked
                <%= poke.created_time %>
              </strong></p>
            </div>
            <div class="poke-status">
              <% if poke.status == "accepted" %>
                <i class="fas fa-check accepted"></i>
              <% elsif poke.status == "rejected" %>
                <i class="fas fa-times rejected"></i>
              <% else %>
                <h3 class="poke-time-left"><%= poke.time_left %></h3>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <% @received_pokes.each do |poke|%>
        <%= link_to poke_path(poke) do %>
          <div class="poke-container">
            <%= cl_image_tag poke.sender.photo, class: "lg-avatar" %>
            <div class="poke-content">
              <h3 class="poke-name"><%= poke.sender.first_name %></h3>
              <p class="poke-body"><strong> Poked
                <%= poke.created_time %>
              </strong></p>
            </div>
            <h3 class="poke-time-left"><%= poke.time_left %></h3>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
