<div class="page-content">
  <div class="gradient-background-reverse">
    <div class="pokes-tabs">
      <%= link_to "Poked", "#", class: "tab" %>
      <%= link_to "Pokes", "#", class: "tab" %>
    </div>
    <div class="pokes-container">
      <% @my_sent_pokes.each do |poke|%>
        <div class="poke-container">
          <%= image_tag 'boy1.jpg', class: "lg-avatar" %>
          <div class="poke-content">
            <h3 class="poke-name"><%= poke.receiver.first_name %></h3>
            <p class="poke-body"><strong> Poked
              <%= poke.poke_created_time %>
               ago
            </strong></p>
          </div>
        </div>
      <% end %>
      <% @my_received_pokes.each do |poke|%>
        <div class="poke-container">
          <%= image_tag 'boy1.jpg', class: "lg-avatar" %>
          <div class="poke-name">
            <h3><%= poke.sender.first_name %></h3>
          </div>
          <div class="poke-body">
            <p><strong> Poked

              <%= poke.poke_created_time %>
               ago
            </strong></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
