<div class="page-content">
  <div class="gradient-background">
    <div class="messages-heading">
      <h3> Poke </h3>
      <h1> Jessica </h1>
    </div>
    <div class="poke-container">
        <%= link_to user_path(@receiver) do %>
          <div class="lg-avatar msg-avatar-left avatar-img" style="background-image: url('<%= image_path "boy2"%>')">
          </div>
        <% end %>
        <div class="poke-text">
          Hit me with your best shot!
        </div>
    </div>
  </div>
  <div class="messaging-container">
        <div class="btn btn-primary btn-inspire">
          Inspire me!
        </div>
    <div class="textfield-container">
      <div class="messaging-form">
        <%= form_for(@poke) do |f| %>
          <%= f.text_field :content, class: "poke-content" %>
          <%= f.hidden_field :sender_id, input_html: {value: current_user.id} %>
          <%= f.hidden_field :receiver_id, input_html: {value: @receiver.id} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
