  <% if @poke.status == "accepted" %>
  <div class="pokes-show gradient-background messenger">
    <div class="messages-content"></div>
      <div class="messages-heading">
        <h3> Poke </h3>
        <h1> <%= @other_user.first_name %> </h1>
      </div>
      <% if @poke.sender == current_user %>
        <div class="message-container message-me">
          <div class="message-text-me">
            <%= @poke.content %>
          </div>
          <div class="avatar-container">
            <div class="sm-avatar msg-avatar-right avatar-img" style="background-image: url('<%= cl_image_path @poke.sender.photo %>')">
            </div>
          </div>
        </div>
      <% else %>
        <div class="message-container message-other">
          <%= link_to user_path(@poke.sender) do %>
            <div class="avatar-container">
              <div class="sm-avatar msg-avatar-left avatar-img" style="background-image: url('<%= cl_image_path @poke.sender.photo %>')">
              </div>
            </div>
          <% end %>
          <div class="message-text">
            <%= @poke.content %>
          </div>
        </div>
      <% end %>
      <% @messages.order(created_at: :asc).each do |message| %>
        <% if message.user == current_user %>
          <div class="message-container message-me">
            <div class="message-text-me">
              <%= message.content %>
            </div>
            <div class="avatar-container">
              <div class="sm-avatar msg-avatar-right avatar-img" style="background-image: url('<%= cl_image_path @current_user.photo %>')">
              </div>
            </div>
          </div>
        <% else %>
          <div class="message-container message-other">
            <%= link_to user_path(message.user) do %>
              <div class="avatar-container">
                <div class="sm-avatar msg-avatar-left avatar-img" style="background-image: url('<%= cl_image_path @other_user.photo %>')">
                </div>
              </div>
            <% end %>
            <div class="message-text">
              <%= message.content %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= render 'messaging_container', message: @message, poke: @poke, poke_suggestions: @poke_suggestions %>
  </div>
  <% else %>
    <div class="pokes-show gradient-background">
      <% if @poke.sender == current_user %>
        <div class="messages-heading">
          <h3>Poke</h3>
          <h1><%= @other_user.first_name %></h1>
        </div>
        <div class="poke-pending-container">
          <div class="m-auto">
            <div class="center-flex">
              <div class="poke-photos">
                <%= cl_image_tag current_user.photo, class: "lg-avatar avatar-img" %>
                <%= cl_image_tag @other_user.photo, class: "lg-avatar avatar-img" %>
              </div>
            </div>
            <div class="poke-pending-content">
              <h3 class="good-shot">Good Shot!</h3>
              <h5 class="time-text"><%= @other_user.first_name %> has</h5>
              <h2 class="time"><%= @poke.time_left %></h2>
              <h5 class="time-text">to accept your poke</h5>
            </div>
          </div>
        </div>
      <% else %>
        <div class="messages-heading">
          <h3>Poke</h3>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12 m-auto">
              <h1 class="text-center poke-pending-heading"><%= @poke.sender.first_name %> poked you!</h1>
              <div class="center-flex">
                <%= cl_image_tag @poke.sender.photo, class: "avatar-img lg-avatar poke-pending-poker" %>
              </div>
              <div class="center-flex">
                <div class="message-text">
                  <%= @poke.content %>
                </div>
              </div>
              <div class="poke-pending-content">
                <h5 class="time-text">You have</h5>
                <h2 class="time"><%= @poke.time_left %></h2>
                <h5 class="time-text">to accept this poke</h5>
              </div>
              <div class="poke-pending-actions">
                <%= link_to poke_path(@poke, poke: { status: "accepted" } ), method: :patch, class: "accept" do %>
                  <i class="fas fa-check"></i>
                <% end %>
                <%= link_to poke_path(@poke, poke: { status: "rejected" }), method: :patch, class: "reject" do %>
                  <i class="fas fa-times"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
