  <% if @poke.status == "accepted" %>
  <div class="page-content messages-page">
    <div class="pokes-show gradient-background messenger">
      <div class="messages-heading">
        <h3> Poke </h3>
        <h1> <%= @other_user.first_name %> </h1>
      </div>
      <div class="messages-container">
        <%= render 'messages/message', message: Message.new(content: @poke.content, user: @poke.sender) %>
        <% @messages.order(created_at: :asc).each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>
    </div>
    <%= render 'messaging_container', message: @message, poke: @poke, poke_suggestions: @poke_suggestions %>
    </div>
  </div>
  <% else %>
    <div class="pokes-show gradient-background">
      <% if @poke.sender == current_user %>
        <div class="messages-heading">
          <h3>Poke</h3>
          <h1><%= @other_user.first_name %></h1>
        </div>
        <div class="poke-pending-container">
          <div class="m-auto">
            <div class="center-flex">
              <div class="poke-photos">
                <%= cl_image_tag current_user.photo, class: "lg-avatar avatar-img" %>
                <%= cl_image_tag @other_user.photo, class: "lg-avatar avatar-img" %>
              </div>
            </div>
            <div class="poke-pending-content">
              <h3 class="good-shot">Good Shot!</h3>
              <h5 class="time-text"><%= @other_user.first_name %> has</h5>
              <h2 class="time"><%= @poke.time_left %></h2>
              <h5 class="time-text">to accept your poke</h5>
            </div>
          </div>
        </div>
      <% else %>
        <%= render "poke_accept_reject" %>
      <% end %>
    </div>
  <% end %>
