<div class="page-content gradient-background">
  <% if @poke.accepted? %>
    <div class="messages-content"></div>
      <div class="messages-heading">
        <h3> Poke </h3>
        <h1> <%= @other_user.first_name %> </h1>
      </div>
    <% @messages.order(created_at: :asc).each do |message| %>
      <% if message.user == current_user %>
        <div class="message-container message-me">
            <div class="message-text-me">
              <%= message.content %>
               <%= message.created_at %>
            </div>
            <div class="lg-avatar msg-avatar-right avatar-img" style="background-image: url('<%= image_path "boy3"%>')">
            </div>
        </div>
      <% else %>
        <div class="message-container message-other">
           <%= link_to user_path(message.user) do %>
              <div class="lg-avatar msg-avatar-left avatar-img" style="background-image: url('<%= image_path "boy2"%>')">
            </div>
          <% end %>
          <div class="message-text">
            <%= message.content %>
            <%= message.created_at %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <div class="messaging-container">
      <div class="btn btn-primary btn-inspire">
        Inspire me!
      </div>
      <div class="textfield-container">
        <div class="messaging-form">
          <%= form_for [@poke, @message] do |f| %>
            <%= f.text_field :content, class: "message-content" %>
            <%= f.hidden_field :user_id, input_html: {value: current_user.id} %>
            <%= f.hidden_field :poke_id, input_html: {value: @poke.id} %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container">

        <div class="row">

          <div class="col-xs-4 col-md-3 col-lg-4 m-auto col-xs-offset-4">
            <%= cl_image_tag @poke.sender.photo.url, class:"img-circle" %>
          </div>

          <div class="col-xs-4 col-md-3 col-lg-4 col-xs-offset-4">
            <%= cl_image_tag @poke.receiver.photo, class:"img-circle" %>
          </div>

        </div>
        <div class="row">

          <div class="col-xs-12 position_statement">
            <h1> Good Shot! Fingers Crossed! We will update you once you get a response to your POKE! </h1>
          </div>

        </div>
    </div>
  <% end %>
</div>
