<div class="edit-questions-bg">
  <div class="edit-questions-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <%= link_to user_path(current_user), class: "back-btn" do %>
            <i class="fas fa-chevron-left"></i>
          <% end %>
        <div class="eq-headline">
          <h3> Tell us your secrets! </h3>
          <p> You can answer up to five questions </p>
        </div>
        <!-- form simple form firdt input dropdown textre
        5.times do same form 5 times -->

        <% @questions.each do |question| %>
          <% if profile_answer = question.answered?(current_user) %>
          <div class="eq-card">
            <div class="question-to-edit">

              <%= simple_form_for profile_answer do |f| %>
                <%= f.input :answer, label: question.content %>
                <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
                <%= f.button :button do %>
                  <i class="fas fa-check"></i>
                <% end %>

                <%= link_to profile_answer_path(profile_answer), method: :delete  do %>
                  <i class="fas fa-times"></i>
                <% end %>

              <% end %>
            <!--   <h5> <%= question.content %> </h5>
              <p> <%= profile_answer.answer %> </p>
              <div class="eq-icon">
                <%#= render 'edit', profile_answer: profile_answer %>
              </div> -->
            </div>
          </div>
          <% else %>
          <div class="eq-card">
            <div class="question-to-edit">
              <%= simple_form_for @profile_answer do |f| %>
                <%= f.input :answer, label: question.content, input_html: { value: (f.object.answer.present?) ? f.object.answer : nil }%>
                  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
                  <%= f.input :question_id, as: :hidden, input_html: { value: question.id } %>
                  <%= f.button :button do %>
                    <i class="fas fa-check"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <%# break %>
          <% end %>
        <% end %>


        <% if current_user.finished_quiz? %>
          <%= link_to "Save all", user_path(current_user), class: "btn btn-success"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
