<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <h1> Welcome to Poke </h1>
      <h3> You can add up to five Poke Questions to your profile </h3>

      <!-- form simple form firdt input dropdown textre
      5.times do same form 5 times -->

      <% @questions.each do |question| %>
        <% if profile_answer = question.answered?(current_user) %>
          <h6>
            <%= question.content %>
          </h6>
          <p>
            <%= profile_answer.answer %>
            <%= render 'edit', profile_answer: profile_answer %>
            <%= link_to "Delete", profile_answer_path(profile_answer), class: "btn btn-primary", method: :delete %>
          </p>
        <% else %>
          <%= simple_form_for @profile_answer do |f| %>
            <%= f.input :answer, label: question.content, input_html: { value: (f.object.answer.present?) ? f.object.answer : nil }%>
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.input :question_id, as: :hidden, input_html: { value: question.id } %>
          <%= f.submit 'Add', class: "btn-primary btn" %>
          <%= f.submit 'Next', class: "btn-primary btn" %>
          <% end %>


          <%# break %>
        <% end %>
      <% end %>


      <% if current_user.finished_quiz? %>
        <%= link_to "SUBMIT THIS THING!!=", user_path(current_user)  %>
      <% end %>
    </div>
  </div>
</div>
